/* 
* @Author: caoke
* @Date:   2015-06-07 23:21:36
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:17:20
*/
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  width: 452px;
  min-height: 200px;
  margin: 8px 16px;
  background-color: #fff;
  -webkit-user-select: none;
  font-family: "Microsoft YaHei", helveticaneue, SimSun, Tahoma, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:22:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-07 23:25:25
*/
.fn-left {
  float: left !important;
}
.fn-right {
  float: right !important;
}
.fn-clear:after {
  display: block;
  content: " ";
  clear: both;
  height: 0;
}
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ng-hide,
.fn-hide {
  display: none !important;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.nav {
  width: 440px;
  padding: 5px;
  border: solid 1px #e7e7e7;
  background-color: #f8f8f8;
  border-radius: 4px;
}
.nav > * {
  float: left;
  height: 22px;
  margin: 0 5px;
}
.nav .brand {
  cursor: pointer;
  line-height: 20px;
}
.nav .brand img {
  vertical-align: middle;
}
.nav .search-box {
  padding-left: 10px;
  border-left: solid 1px #e7e7e7;
}
.nav .search-box input {
  width: 90px;
  height: 20px;
  padding: 0 5px;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  line-height: 20px;
}
.nav .search-box input:focus {
  outline: 0;
  border-color: #ccc;
}
.nav .search-box a {
  color: #999;
  text-decoration: none;
}
.nav .search-box a:hover {
  color: #333;
}
.nav ul.menu {
  float: right;
  font-weight: bold;
  color: #999;
}
.nav ul.menu > li {
  position: relative;
  float: left;
  height: 22px;
  padding: 0 6px;
  cursor: pointer;
  line-height: 22px;
}
.nav ul.menu > li:hover {
  color: #333;
}
.nav ul.menu > li:hover > ul {
  display: block;
}
.nav ul.menu > li:last-child > ul {
  right: 0;
}
.nav ul.menu > li > ul {
  display: none;
  position: absolute;
  z-index: 1;
  border: solid 1px #e7e7e7;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #999;
}
.nav ul.menu > li > ul > li {
  position: relative;
  min-width: 40px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
}
.nav ul.menu > li > ul > li:hover {
  background-color: #f5f5f5;
  color: #333;
}
.nav ul.menu > li > ul > li > a {
  display: block;
  color: #999;
  text-decoration: none;
}
.nav ul.menu > li > ul > li > a:hover {
  color: #333;
}
.nav ul.menu > li > ul > li input[type="file"] {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  opacity: 0;
  cursor: pointer;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:22:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-07 23:25:25
*/
.tags {
  margin-top: 5px;
}
.tags > li {
  float: left;
  position: relative;
  height: 20px;
  padding: 0 20px 0 10px;
  margin: 3px 4px 0 0;
  border: solid 1px #e7e7e7;
  border-radius: 4px 10px 10px 4px;
  transition: all .2s;
  cursor: pointer;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  color: #999;
}
.tags > li:after {
  content: ' ';
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: solid 1px #e7e7e7;
  background-color: #fff;
}
.tags > li:hover {
  box-shadow: 0 1px 1px #ccc;
}
.tags > li.active {
  background-color: #30a0da;
  border-color: #30a0da;
  color: #fff;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.panel {
  position: relative;
  width: 450px;
  margin-top: 10px;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
}
.panel a {
  text-decoration: none;
  color: #999;
}
.panel a:hover {
  color: #333;
}
.panel > .panel-heading {
  height: 22px;
  padding: 0 10px;
  background-color: #f8f8f8;
  border-bottom: solid 1px #e7e7e7;
  line-height: 22px;
}
.panel > .panel-heading .panel-title {
  float: left;
  font-weight: bold;
}
.panel > .panel-heading .panel-actions {
  float: right;
}
.panel > .panel-body {
  background-color: #fff;
}
.panel.no-data {
  padding: 20px 0;
  text-align: center;
}
.panel.no-data span {
  display: inline-block;
  padding: 5px 10px;
  white-space: nowrap;
  color: #999;
}
.panel .toggle-show {
  height: 8px;
  opacity: 0;
  cursor: pointer;
  transition: opacity .4s;
  text-align: center;
}
.panel:hover .toggle-show {
  opacity: .1;
}
.panel:hover .toggle-show:hover {
  opacity: 1;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.rows {
  transition: max-height 0.4s;
  overflow: hidden;
}
.rows .row > * {
  float: left;
  height: 22px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 22px;
  color: #333;
}
.rows .row > .cell-rule {
  width: 120px;
}
.rows .row > .cell-ip {
  width: 100px;
}
.rows .row > .cell-comment {
  width: 110px;
  color: #666;
}
.rows .row > .cell-actions {
  width: 40px;
  color: #e7e7e7;
  text-align: right;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.dialog-show {
  min-height: 400px;
}
.mask {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.mask .dialog {
  width: 320px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.form {
  padding: 20px 30px;
}
.form > label {
  display: block;
  margin-bottom: 10px;
}
.form > label > span {
  float: left;
  height: 22px;
  line-height: 22px;
}
.form > label > span:first-child {
  width: 60px;
  padding-right: 10px;
  text-align: right;
}
.form .message {
  padding-bottom: 10px;
}
.form .image {
  padding: 10px;
  text-align: center;
}
.form .form-actions {
  text-align: center;
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.checkable {
  position: relative;
  cursor: pointer;
  opacity: 0.5;
}
.checkable:before {
  content: ' ';
  position: absolute;
  left: 5px;
  top: 4px;
  width: 14px;
  height: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYNDjEeZFo+/AAAAkFJREFUOMvVk09Ik3EYxz/v3lG03PyzuVlt7iB08BbNagVBGHTqFtWQ8uIhokiStNI6iUiFtbIQiqhDgqZWUoERhhVhaX+WKctaGpj5f9P98d27vft1Uio62KFDz+k5fD/fw/f5PvDfjdFokqsqT5eOTw75t23fUvRXcFZWpnzyxLGyuPJ9bk57Lw6U7m7SLxW2Wi3LjxzeX1F+vLhiVu43jE6OoihR0y8iR252et7a1ebf4VyH1Xju7KGaWKpDHUndFH1zXlFVt+ebMd1wdFGUbU63320vv33vedljq920YdHUbkmvv1RyPpy6kfRr1eKdUinq73gilhyjF8gDYG+RK/dWa8n9aVEjBkSpqG3a0W13Zrg2b8yzXWzwXJ4Stdrr+EHRrZSIxt5dWv767DagAEACaOnytLu2WncGwl9BCAyGFfR3hQdMmEIFhTbXiDK6LJlUCU7Eqa/o6+5sGakGOoCkHmA2zb+md8JHQtVASOjCOuxuQ75eN0XPmI+UpqGpOtq8M4OdLeNXgS4gCSADvHg0PpzpUNwWp5oVjUWYn48Qmg0yNTONEo+gqvM8aZ6ebPMGr2kJmoGZhYxkgFiIQOCtFjCvkt02p5yZUCU0VQJNAknHh6eJWOuZWGM0JK4Dwz9fSF5YYrPi0+CrxECGTd5kdejNyQQgJEb9yVRbXfTh2JB2BegDxB8NAJSo+PL5TdK30qRbZ3Pqc4JjKR40xF5+7ElcAJ4B2pJaZ7Lo3J5Txp7CfQafJFEMpP2z5/oBcp79MyptUD0AAAAASUVORK5CYII=);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  -webkit-filter: grayscale(1);
}
.checkable.large:before {
  width: 16px;
  height: 16px;
  left: 4px;
  top: 3px;
  background-size: 16px 16px;
}
.checkable.enable {
  opacity: 1;
}
.checkable.enable:before {
  -webkit-filter: none;
  opacity: 1;
}
.checkable > *:first-child {
  text-indent: 15px;
}
.checkable.row:hover {
  opacity: 1;
  background: -webkit-linear-gradient(left, #30a0da 0%, #30a0da 80%, rgba(48, 160, 218, 0.2) 90%, rgba(48, 160, 218, 0.1) 100%);
}
.checkable.row:hover > *,
.checkable.row:hover a {
  color: #fff !important;
}
.checkable.panel-heading + s {
  display: none;
}
.checkable.panel-heading:hover {
  opacity: 1;
}
.checkable.panel-heading:hover + s {
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
/* 
* @Author: caoke
* @Date:   2015-06-07 23:23:37
* @Last Modified by:   caoke
* @Last Modified time: 2015-06-08 12:19:10
*/
.pen,
.trash,
.addnew {
  display: inline-block;
  width: 16px;
  height: 16px;
  transition: all .4s;
  opacity: .5;
  vertical-align: middle;
}
.pen:hover,
.trash:hover,
.addnew:hover {
  opacity: 1;
}
.pen {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYOAw4VsTvx9QAAAZlJREFUOMu9kt9KlGEQxn/vvF9UhB2EhFBksJIVFNkfwkLbBQMj+0Ms3sHaBXQD3YXh0kHUQZQFdRK5exKykMEaodWHEi10EQV+3zMdtITlrgpBczjzPr93Zp6Bf4yw3Yfl8uSQmb12EHD76ZPHLwDidsQ3bt66EOCapIJL/S6NDg4eXU3TzyvJVuKJieujcn/gWfbd4VGAssNJ4D6wf1PA+PiVkqQZch1up64Cz8B3E+gD6AoYG7tckrzqygr47/R5YK+jWbM42xVQKpaKkmakvLCh6PSYxbm52qvFjoCRiyNFSVWkgQ7iVrAwZRbfbLDx3JmzSZLsuGRm93AG/jD61wgtizY135ivrWeu7+CgpGl1+hlvWYiVxttG/e9KAnD61NAuScPu+gL0AT3tlnH8m1msLDTf1TvtKwL07uvtB1UlrUhakHRM0s4811dCqDTfL9a7uZUASDru4ghwAHgONBw/ZGZ3Piwv1Ta7lQQgz7PJ9qL2EBgG7lqw5lL6Md3qUhOAbG3tBPAwwEuLcZkQWp9W0x/8j/gJCP6ovDGcbywAAAAASUVORK5CYII=');
}
.pen:hover {
  transform: rotate(-20deg);
}
.trash {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYOAxI5ZZTASwAAAcBJREFUOMt9kzFr1EEQxd+7/EVF0ylRC1Mpln4DsdLe4q5S7CSFH8bGD2BhJYcgB2ehYHN6ggFF0HDexRBE1GCUQPCcN88ie5e/8bxp5u3s7G9mdllgjrVarWutVuv2vBwCQLPZPEpy2fYh2wZgAAHgEYCzAC5J2gbQAADv2Xq73d6tSuCG7Tu2o+yjxBcApO0ntk1ycvgYgBUAdysAGI/HD21ftn2R5O+9XO6T9isDwBEAT0neA4AJwLYvkDxfn882SKLAph7A606nszMlS/qWmeuSIOm+pFVJyMwHkl5FBCR1I+J5yRmi3lq32w1Ja2XzraQXRT+TNCj6saTNot9NANVERMT70uI5kqMDLYPklu3TRX/4ByBpVORJAC9LImyzxD8BWCp6NAuwUaqdAvC9Xr3YZ5JLtj/2er3hrBE2AWyTPGH7J8npPdn+RbIBYBFAv05tTES/39+VtBoRZzJzSxIighFBST8ioooIRMRgJgAAMnOQmVVE7EgaS6Kkhcz8kpmLmYnM/AtQ1Rc1+kp5hSu2l0ket32zjLX2X0DtfW8Vf3X668jrtmF7OK+DNwC+AjgMIA/83ArABslRPfgHxuBrHZRSo3cAAAAASUVORK5CYII=');
}
.trash:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYUECwdOZaVNQAAAbdJREFUOMuNkj1rVEEUhp/ZveBHoYWJCRoVESIoFpYWlrHbYotlF2ystPMPiFjZWvgHtLDZbW63spWC5KJdSCO62V3UGDUhhmAExfPeYzMXruv1Y5p55gw8c+adCQDtdvsSsARsAEN3X+/1eqNOp3MXuO7u57vd7iYVIwC0Wq2bwG13nwkhAODuu8A+YD/wEMjcfQy8c/eP7v4lTVMPZVuz2TwMLACngbPASeAUcA6YBw4AAn4Ad9I0vZcANBqNOeCamS0C3wADcoAQwgd33wOOAMdDCIvAJpABJAB5nh8Frrr7Bf5vrPb7/ecANQAz2zCzkSQkPZC0HPm+pBeRH0l6HHlUmGoAg8FgW9JQEma2VhI8kfQ+8lNJW5GHhSApwMyK4gLwqqLtT8CJyK9/E5TamgeeVQh2gdkY7mqVYFIS7Ez/FeArMAesZ1m2/UsGAFmWTeJ9j0naiXkQ74yZ1cxsVtKbcltJeWFmY+Ai8L10egD2gJlYW/ujQNIYuBx/WyGoAZ+Bg9MBVgmK9G/F+QZwBjgU+Z+CYrMd5yul7YInf8tgJYSw5e4J4FPPmNTr9bd5nr8sF38CAzIJReJrzJAAAAAASUVORK5CYII=');
}
.addnew {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYUECIg/330qgAAAKhJREFUOMtjYMAD0tLSGNLS0vApYWDEJWFnZ9fPwMCQzcDAwMzAwDDt0KFDudjUMeExnAkNM5BqAFGApgbw42BjBiI0wJjQNHgxMDCIQvmvGRgYtjEwMHxE1nzo0KF8xrS0NIYbN278wuIaZjT+X3TbNTQ0WFiQFBMKD2Z8XpiMxQtuaF7YhcUL2fgS0gIGBoYYqM1LDx06FENqLHzEwR5CCYlyQEx2BgBoyiUk3dWWhgAAAABJRU5ErkJggg==');
}
.addnew:hover {
  transform: rotate(90deg);
}
.i-expand,
.i-collapse {
  height: 16px;
  transition: all .4s;
  background-position: center center;
  background-repeat: no-repeat;
}
.i-expand {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYVBxgwZrboJwAAAXFJREFUOMud0zFrFVEQBeAveYkWQQRBEEXBZrZOa6UIFg8sk2Ctz6BVELQR8gMUrCSiRJB0hnSmtfUvBOcPCNEiWIYkazPvcXlEURcuu3fuOWfm3JkFEbHoH5+u6xZhtvZrEbH5t+SI2Oz7fg3mKnYLFyPiJlYz8/NviLfxFlfwva1ggHlcx25EbJxC3sBuYeaLM6ngpN6zOItRRAzxtOIvK+sAMzgec8YC9/Eel0tkDtfwsSlipkn2rTgTC3uZeRU7BeiL0K6+znYKu9cKrEfEVmauYAn7ja1x1n0sZeZKRGxhvRW4g+WI+IGFzLyE7fJ6jO2KLRRmuTiTOxjU9wV8iIjlzLwbET8hM1cj4hOGZedkuguHU76HEXGA59XCA5xrKu6LMxG4h010FZvFebyeGoceR/iKB21rxsPyCo9wpsnWXuQh3mTmk+netiI38A7RVHiExMPM/OKU4Tht7l/gcW03MvOZ//hlR13Xjf6E+QXbNW57ZmdcSwAAAABJRU5ErkJggg==');
}
.i-expand:hover {
  transform: translateY(2px);
}
.i-collapse {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wYVBxgOp9f1jAAAAXBJREFUOMuVk71KA1EQhb+NmlqIjYWdnNVGSCX4BBbaibaKP6BY2fsCFpYKolgGf2oLRewEH8HTCNrYRLBIY6JrM7usIQl4YWD3zDlzz525FwasNE030zTdHMQZ6peQdADsA/O1Wm202Wze9eIlPYRzwAkgYDjgDmBgy/Zj3wKSDoFtoApUumr/AF/Ase29PwUkzQKnQBq7Jn1OloWbZ2DD9lO+SwOYAkZC/AN8ArsRn4ElwZkKTWGzGsksiDe2R4EZYCa+byKXBbdaLvAd1j6AVduLkhrAOrAuqWF7EVgNTic0RYFb4NL2GNCS9A4sx5iHgOXAWsG5DE3RxAnbb5IugKXAkx4NzIBr2yu5JncwLektxJVSP8qRRG4puNPlI5wB4/Gfj+oVWIl4DSwLznhoiptW6bos57Z3SvavJB0Ba3n3c015Cm3gBVjoEgMQ2EJw2vkUcgcPQNv2xqCXZ/semJR0GheqeLZ1/rkk1QF+Ad9ViDoebgGCAAAAAElFTkSuQmCC');
}
.i-collapse:hover {
  transform: translateY(-2px);
}
